Demo Video/*
Gender_Detection/results/*
Gender_Detection/temp/*
Gender_Detection/test/*
Person_Detection/lib/*
Person_Detection/output/*
Gender_Detection/feature.csv
Person_Detection/temp/*
Person_Detection/video/*

